.todoTag {
	text-align: start;
	border-top: 1px;
	padding: 0.5rem 2rem;
	border-top: 1px solid #c4c4c4;
	cursor: pointer;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.todoTag:hover {
	background-color: var(--selected-color);
}
.todoTagSelected {
	background-color: var(--selected-color);
}
