@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&display=swap");
@import "modernize";
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
body {
	color: var(--white-color);
}
.h1 {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1.75rem;
	line-height: 2.75rem;
}
.h2 {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1.25rem;
	line-height: 2rem;
}
.h3 {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1.15rem;
	line-height: 1.75rem;
}
.h4 {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1rem;
	line-height: 1.75rem;
}
.text-content {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1.25rem;
	line-height: 1.75rem;
}
.extra-light {
	font-weight: 200;
}
.regular {
	font-weight: 400;
}
.bold {
	font-weight: 700;
}
.text-gray-color {
	color: var(--light-gray-color);
}
:root {
	--primary-color: #2e3033;
	--secondary-color: #64676e;
	--selected-color: #ffee009f;
	--light-gray-color: #d9d9d6;
	--white-color: #ffffff;
	--black-color: #000000;
	--save-btn-color: #2198ff;
	--delete-btn-color: #ff0000;
}
