.details {
	height: 100%;
	background-color: var(--secondary-color);
	text-align: center;
	overflow: hidden;
}
.detailsBody {
	height: 100%;
	padding: 1rem;
	position: relative;
}
.form {
	height: 70%;
}
